# Default ignored files
/shelf/
/workspace.xml
/extended-single-cell-best-practices-container.iml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
